<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edaviessmith.consumecontent" >



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.edaviessmith.consumecontent.util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.edaviessmith.consumecontent.ContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.edaviessmith.consumecontent.AddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:label="@string/title_activity_add"
            android:parentActivityName=".ContentActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="oauth" android:host="t4jsample"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edaviessmith.consumecontent.ContentActivity" />
        </activity>
        <activity
            android:name="com.edaviessmith.consumecontent.NotificationsActivity"
            android:label="@string/notifications"
            android:parentActivityName=".ContentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edaviessmith.consumecontent.ContentActivity" />
        </activity>
        <activity
            android:name="com.edaviessmith.consumecontent.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".ContentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edaviessmith.consumecontent.ContentActivity" />
        </activity>


        <!--Ads -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />


        <receiver
            android:name=".service.AlarmBroadcastReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.AlarmIntentService"
            android:label="Notification Listener"
            android:exported="false" />

        <service
            android:name=".service.DataService"
            android:exported="false" >
        </service>


        <activity android:name="com.edaviessmith.consumecontent.db.AndroidDatabaseManager"  />
    </application>

</manifest>
